name: App 1
on:
  pull_request:
    paths:
      - apps/app1/**
jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Build
        run: go build ./apps/app1/cmd/
