name: Release Drafter

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [app1, app2]
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/release-drafter
        with:
          include-paths: '["apps/${{ matrix.app }}/**", "shared/**"]'
          github-token: ${{ secrets.GITHUB_TOKEN }}
