name: Update releases

permissions:
  contents: write
  issues: write
  pull-requests: write

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release-please:
    strategy:
      matrix:
        app:
          - app1
          - app2
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: apps/${{ matrix.app }}
          include-component-in-tag: true
          manifest-config: .release-please-manifest.json
