name: Update releases

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  detect-changes:
    uses: ./.github/workflows/detect-changes.yaml
    secrets: inherit

  release-please:
    needs:
      - detect-changes
    if: needs.detect-changes.outputs.any == 'true'
    strategy:
      matrix:
        app: ${{ fromJSON(needs.detect-changes.outputs.affected-apps) }}
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "apps/${{ matrix.app }}"
          manifest-file: .release-please-manifest.json
          config-file: apps/${{ matrix.app }}/release-please-config.json
